<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>Trellolo</title>
    <link rel="stylesheet" href="/components/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="/styles/common.css"/>
</head>
<body>
    <?php echo $this->layout()->content; ?>
    <script src="/components/foundation/js/foundation.js"></script>
    <script src="/scripts/common.js"></script>
</body>
</html>